{% extends 'base.html' %}


            {% block content %}

        <section class="container-fluid bg">
            <section class= "row justify-content-center ">
                <section class="col-6 p-0"><br>
                    <h3 style="text-align:center;"> About this project </h3><br><hr><br>
                    <p>This application was created based on ... doplnit!!!!!!!</p>
                </section>
            </section>
        </section>
            {% endblock %}


