{% extends 'base.html' %}

            {% block content %}

       <section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 "><br>
      <h3 style="text-align:center;">About Project</h3><br>
      <h6 style="text-align:center;">Project name: Reconstruction of Upper Palaeolithic mobility through provenience study of radiolarite artefacts</h6><br>
      <h6 style="text-align:center; ">Czech Science Foundation (GACR): grant number. 22-05547S</h6><br><hr>
      <!-- change it -->
      <h3 style="margin-bottom: 500px; text-align: center;">Doplnit zbytek!!!!!!!!!</h3>
    </section>
  </section>
</section>

         </section>
            {% endblock %}
            

            