{% extends 'base.html' %}

            {% block content %}

        <section class="container-fluid bg">
            <section class= "row justify-content-center ">
                <section class="col-6 p-0"><br>
                    <h3 style="text-align:center;"> Guideline </h3><br>
                    <p> This guideline aims to help users to provide correct data for the classifier. Training data were collected using ... <br> If you have any questions or concerns about the matter below, please do not hesitate to contact ... </p><br><hr><br>
                    <h3 style="margin-bottom: 500px;"> Doplnit !!!!!!!!!</h3>

            </section>
          </section>
         </section>
            {% endblock %}
            

            