{% extends 'base.html' %}

{% block title %} Home {% endblock %}




{% block hero %}
<!-- Modern Hero Section with Full-Width Gradient Background -->
<div class="hero-section">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center text-white px-3">
      <h1 class="display-4 fw-bold">Radiolarite Provenance Classifier</h1>
      <p class="lead">Determine the origin of radiolarite samples in Central Europe</p></br>
      <a href="{% url 'guideline' %}" class="btn btn-outline-light btn-lg" role="button">Guideline</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Result Modal -->
<div id="resultModal" class="popup2" style="display:none;">
  <div class="popup-content">
    <span class="close" id="closeResultModal">&times;</span>
    <h2>Result</h2>
    <div id="resultMessage">The total sum is: <span id="resultValue"></span></div>
  </div>
</div>



<!-- Popup Window -->
<div id="popupWindow" class="popup" style="display:none;">
    <div class="popup-content">
        <span class="close" id="closePopup">&times;</span>
        <h2>Enter Values for Elements [0,1]</h2><br>
        <p>a value represents the ratio of elements within a sample; for example, a Pb107 value of 0.04 corresponds to 4%</p>
        <form id="elementsForm">
            <div class="form-group">
                <!-- Form fields will be generated here -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Content Section -->
<div id="own-bottom-margin">
  <section class="container-fluid padding">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="text-center mb-5 mt-5">
          <h3>Select Analytical Method</h3></br>
          <!-- Analysis Type Dropdown -->

          <div class="tile-container">
            <div class="tile">
              <li><a class="dropdown-item" href="#" id="openLablation">LA-ICP-MS</a></li>
             </div>
              <div class="tile">
              <li><a class="dropdown-item" href="#" id="openMultimodal" >LA-ICP-MS + XRF + Spectrophotometry</a></li>
              </div>
            <div class="tile">
              <li><a class="dropdown-item" href="#" id="openXRF"> XRF</a></li>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
